@tailwind base;
@tailwind components;
@tailwind utilities;

div::-webkit-scrollbar {
  width: 10px; /* Set the width of the scrollbar */
}

div::-webkit-scrollbar-thumb {
  background-color: #23405d; /* Set the color of the thumb */
  border-radius: 10px; /* Set the border radius of the thumb */
}

div::-webkit-scrollbar-track {
  background-color: #162e46; /* Set the color of the track */
  border-radius: 10px;
}

/* For Firefox */
div {
  scrollbar-width: thin; /* Set the width of the scrollbar */
  scrollbar-color: #062e07 #f1f1f1; /* Set the color of the thumb and track */
}
